body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
    background-color: #BFF05D;
}

.gradint-layer {
    text-align: center;
}

.main-heading {
    padding-top: 300px;
    font-size: 100px;
}

.button {
    border: 1px solid #333;
    width: 300px;
    margin-left: 650px;
    margin-top: 70px;
    padding: 20px;
}

.main-button {
    text-decoration: none;
    font-size: 20px;
}


/* pannel */
.sec
{
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.main {
    border: none;
    margin-top: 120px;
    height: 400px;
    width: 800px;
    box-shadow: 0px 0px 10px #333;
}

.panel-student {
    margin-left: -50px;
    margin-top: 30px;
    width: 450px;
    height: 350px;
}

.head-student {
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.head-manager
{
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.head-admin
{
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.head-staff
{
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.into-student {
    margin-top: 100px;
    margin-left: 100px;
}
.into-manager {
    margin-top: 100px;
    margin-left: 100px;
}
.into-staff {
    margin-top: 100px;
    margin-left: 100px;
}
.into-admin {
    margin-top: 100px;
    margin-left: 100px;
}

.btn-student {
    border: none;
    padding: 30px 100px;
    margin-left: -100px;
    background-color: #9068C0;
    color: whitesmoke;
}
.btn-admin {
    border: none;
    padding: 30px 100px;
    margin-left: -100px;
    background-color: #9068C0;
    color: whitesmoke;
}
.btn-manager {
    border: none;
    padding: 30px 100px;
    margin-left: -100px;
    background-color: #9068C0;
    color: whitesmoke;
}
.btn-staff {
    border: none;
    padding: 30px 100px;
    margin-left: -100px;
    background-color: #9068C0;
    color: whitesmoke;
}