body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
/*    background-color: #333634;*/
}

.panel {
    background-image: url('..\images\stabmenubghv.png');
    text-align: center;
}

.main-heading {
    padding-top: 140px;
    font-size: 100px;
}

.gradint-layer
{
    background-image: url('..\images\photo-1460661419201-fd4cecdf8a8b.jpg');
}

.button {
    border: 1px solid #333;
    width: 300px;
    margin-left: 500px;
    margin-top: 70px;
    padding: 20px;
}

.main-button {
    text-decoration: none;
    font-size: 20px;
}


/* pannel */
.sec
{
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.main {
    border: none;
    margin-top: 120px;
    height: 400px;
    width: 800px;
    box-shadow: 0px 0px 20px #333;
}

.panel-student {
    margin-left: -50px;
    margin-top: 30px;
    width: 450px;
    height: 350px;
}

.head-student {
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.head-manager
{
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.head-admin
{
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.head-staff
{
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.into-student {
    margin-top: 100px;
    margin-left: 100px;
}
.into-manager {
    margin-top: 100px;
    margin-left: 100px;
}
.into-staff {
    margin-top: 100px;
    margin-left: 100px;
}
.into-admin {
    margin-top: 100px;
    margin-left: 100px;
}

.btn-student {
    border: none;
    padding: 20px 100px;
    margin-left: -100px;
    background-color: #333;
    color: whitesmoke;
    font-size: 30px;
}
.btn-admin {
    border: none;
    padding: 20px 100px;
    margin-left: -100px;
    background-color: #333;
    color: whitesmoke;
    font-size: 30px;
}
.btn-manager {
    border: none;
    padding: 20px 100px;
    margin-left: -100px;
    background-color: #333;
    color: whitesmoke;
    font-size: 30px;
}
.btn-staff {
    border: none;
    padding: 20px 100px;
    margin-left: -100px;
    background-color: #333;
    color: whitesmoke;
    font-size: 30px;
}

#form
{
    width: 300px;
    padding: 10px;
    margin-top: -40px;
}

#login-btn
{
    background-color: #f5b907;
}

#login-name
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-pass
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-btn
{
    margin-bottom: 30px;
    padding: 10px;
}

#cros
{
    font-size: 20px;
    float: right;
    padding-top: 20px;
    margin-top: -30px;
}

#man
{
    padding: 20px;
}